
<div class="homepage">
    <div class="item">
      MyBudget
    </div>

    <div class="position-fixed bottom-0 w-100">
        <div class="d-flex flex-column justify-content-center align-items-center bg-white p-2">

    <% if user_signed_in? %>
       <div   div class=" w-100  py-2">
        <%= link_to 'HOME', groups_path,  class: 'btn btn-primary w-100' %>
    </div>
      <% else %>
    <div   div class=" w-100  py-2">
        <%= link_to 'LOGIN IN', new_user_session_path,  class: 'btn btn-primary w-100' %>
    </div>

    <div   div class=" w-100  py-2 text-center">
        <%= link_to 'SIGN UP', new_user_registration_path,  class: ' w-100' %>
    </div>
      <% end %>
  </div>
    
</div>